webdriver-manager
pandas
nltk
gensim
wordcloud
matplotlib
seaborn
snownlp
flask
SQLAlchemy
scikit-learn
torch
transformers
sentence-transformers
huggingface_hub[hf_xet]
numpy
tqdm
datasets
scikit-learn
selenium
beautifulsoup4